<h4>{{playerCount}} players on {{activeServerCount}} out of {{serverCount}} servers.</h4>
<table class="serverlist">
  <thead>
    <th>full%</th>
    <th>name</th>
    <th>players</th>
    <th>mutators</th>
    <th>game</th>
    <th>map</th>
    <th>ends in<br />(mins)</th>
    <th>access</th>
    <th>country</th>
    <th>game version</th>
  </thead>
  <tbody>
  {{#each reports}}
  <tr class="server {{cssClasses}}">
    <td class="full" style="border-left: solid {{heatColor}} 8px">{{fullness}}</td>
    <td class="name" style="width: 28em;">
      <a href="redeclipse://{{host}}:{{port}}/">{{description}}</a>
      {{#if players}}
        <div class="players">
          {{#each players}}
            <span class="player">
              <img src="icons/privilege/{{privilege}}.png" title="{{privilege}}" class="privicon">{{name}}</span>{{#unless @last}},&nbsp;{{/unless}}
          {{/each}}
        </div>
      {{/if}}
    </td>
    <td class="players">{{clients}}</td>
    <td style="text-align: right;">{{mutators}}</td>
    <td>{{gameMode}}</td>
    <td>{{mapName}}</td>
    <td>{{remaining}}</td>
    <td>{{masterMode}}</td>
    <td>{{country}}</td>
    <td style="text-align: center;">{{versionName}}</td>
  </tr>
  {{/each}}
  </tbody>
</table>
