@import "theme-1.0.less";
@import "elements-0.6.less";

body {
  font-family: @font, Helvetica, Arial, sans-serif;
  color: @text-color;
  font-size: @text-size;
  background: @background-color;
  margin: 0;
}
div.banner {
  background-image: url(/img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  padding: 16px 64px 16px 64px;
  line-height: 1.1em;
}
div.content {
  padding: 16px 64px 16px 32px;
  .box-shadow(inset 0 0 16px #f40);
  background: #111;
  margin: 0 64px 0 64px;
  .rounded(16px);
  line-height: 1.4em;
  color: @content-text-color;
}
div.footer {
  padding: 16px 64px 16px 8em;
  font-size: 80%;
  line-height: 1.1em;
}
h1 {
  color: @title-color;
  text-shadow: 0 0 32px @text-color;
}
a {
  text-decoration: none;
  color: @link-color;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: @link-color;
}

div.clearfix {
  clear: both;
}

table {
  border-spacing: 0.4em;
}
table th.header {
  text-decoration: underline;
  cursor: pointer; 
}
th, td {
  padding: 0 4px 0 4px;
}
.headerSortUp, .headerSortDown {
  font-style: italic;
}
.headerSortUp:after {
  content: "\21d1";
}
.headerSortDown:after {
  content: "\21d3";
}
tr.server {
  line-height: 1.0em;
}
tr.server.notopen {
  font-style: italic;
}
tr.server.empty {
  color: darken(@content-text-color, 33%);
}
tr.server.empty a {
  color: darken(@link-color, 12%);
}
tr.server td.full {
  text-align: center;
}
span.players {
  color: @player-color;
  font-size: 74%;
}
.content h4 {
  color: @player-color;
}
